asyncio==4.0.0
grpcio==1.70.0
grpcio-tools==1.70.0
grpcio-reflection==1.70.0
pydantic==2.8.2
pythonnet==3.0.1
requests==2.29.0 
grpc-stubs==1.24.12.1
networkx==3.1
networkx-stubs==0.0.1
types-setuptools==68.0.0.2
python-dotenv==1.0.0
packaging==25.0
msl-loadlib==0.10.0
pywin32==304; platform_system == "Windows"
typing-inspect==0.8.0
typing_extensions==4.8.0
pyserial==3.5
cython==3.0.11
pillow==11.0.0
psutil==7.0.0
comtypes==1.4.10
appdirs==1.4.4
pyhamilton==1.491.17
PyLabRobot
websockets==15.0.1